# QEMU options
# name
#       name: vm0
#
# enable_kvm
#       enable: [yes | no]
#
# cpu
#       model: [host | core2duo | ...]
#           usage:
#               choose model value from the command
#                   qemu-system-x86_64 -cpu help
#       number: '4' #number of vcpus
#       cpupin: '3 4 5 6' # host cpu list
#
# mem
#       size: 1024
#
# disk
#       file: /path/to/image/test.img
#
# net
#        type: [nic | user | tap | bridge | ...]
#           nic
#               opt_vlan: 0
#                   note: Default is 0.
#               opt_macaddr: 00:00:00:00:01:01
#                   note: if creating a nic, it`s better to specify a MAC,
#                         else it will get a random number.
#               opt_model:["e1000" | "virtio" | "i82551" | ...]
#                   note: Default is e1000.
#               opt_name: 'nic1'
#               opt_addr: ''
#                   note: PCI cards only.
#               opt_vectors:
#                   note: This option currently only affects virtio cards.
#           user
#               opt_vlan: 0
#                   note: default is 0.
#               opt_hostfwd: [tcp|udp]:[hostaddr]:hostport-[guestaddr]:guestport
#                   note: If not specified, it will be setted automatically.
#           tap
#               opt_vlan: 0
#                   note: default is 0.
#               opt_br: br0
#                   note: if choosing tap, need to specify bridge name,
#                         else it will be br0.
#               opt_script: QEMU_IFUP_PATH
#                   note: if not specified, default is self.QEMU_IFUP_PATH.
#               opt_downscript: QEMU_IFDOWN_PATH
#                   note: if not specified, default is self.QEMU_IFDOWN_PATH.
#
# device
#       driver: [pci-assign | virtio-net-pci | ...]
#           pci-assign
#               prop_host: 08:00.0
#               prop_addr: 00:00:00:00:01:02
#           virtio-net-pci
#               prop_netdev: mynet1
#               prop_id: net1
#               prop_mac: 00:00:00:00:01:03
#               prop_bus: pci.0
#               prop_addr: 0x3
#
# monitor
#       port: 6061   
#           note: if adding monitor to vm, need to specicy
#                 this port, else it will get a free port
#                 on the host machine.
#
# qga
#       enable: [yes | no]
#
# serial_port
#       enable: [yes | no]
#
# vnc
#       displayNum: 1
#           note: you can choose a number not used on the host.
#
# daemon
#       enable: 'yes'
#           note:
#               By default VM will start with the daemonize status.
#               Not support starting it on the stdin now.

# vm configuration for pmd sriov case
[vm0]
cpu =
    model=host,number=4,cpupin=4 5 6 7; 
disk =
    file=/home/image/sriov-fc23-1.img;
mem =
    size=4096;
login =
    user=root,password=tester;
net = 
   type=nic,opt_vlan=0;
   type=user,opt_vlan=0;
monitor = 
    port=;
qga = 
    enable=yes;
vnc = 
    displayNum=11;
daemon =
    enable=yes;
